<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preload" as="font" type="font/woff2" href={interFont400} crossorigin />
        <link rel="preload" as="font" type="font/woff2" href={interFont800} crossorigin />
    </head>
    <body class="antialiased text-white bg-[#355C7D]">
        <div class="flex flex-col min-h-screen px-6 bg-grid-pattern sm:px-12">
            <div class="flex flex-col w-full max-w-5xl mx-auto grow">
                <Header />
                <main class="grow"><slot /></main>
                <Footer />
            </div>
        </div>

        {/* Chatbot Configuration */}
        <script>
            const APP_ID = "5f626458-2b9c-4ca7-8e54-f1c25575ad78";
            window.supportMagicChatSettings = {
                app_id: APP_ID,
                companyName: "Sample company name",
                chatColor: "#4F8F00",
                buttonColor: "#000000",
                companyLogo: "https://upload.wikimedia.org/wikipedia/commons/8/85/Logo-Test.png",
                name: "name placeholder", // Replace with user data
                email: "email placeholder", // Replace with user data
                phone: "phone placeholder", // Replace with user data
                createdAt: "createdAt placeholder", // Replace with user data
            };
        </script>

        {/* Chatbot Loader */}
        <script>
            (function () { 
                var w = window, bc = w.SupportMagicChat; 
                if (typeof bc === "function") { 
                    bc("update", w.supportMagicChatSettings); 
                } else { 
                    var d = document, i = function () { i.c(arguments); }; 
                    i.q = []; 
                    i.c = function (args) { i.q.push(args); }; 
                    w.SupportMagicChat = i; 
                    var l = function () { 
                        var s = d.createElement("script"); 
                        s.type = "text/javascript"; 
                        s.async = true; 
                        s.src = "http://localhost:3001/chat-widget.js"; 
                        var x = d.getElementsByTagName("script")[0]; 
                        x.parentNode.insertBefore(s, x); 
                    }; 
                    if (document.readyState === "complete") { l(); } 
                    else if (w.attachEvent) { w.attachEvent("onload", l); } 
                    else { w.addEventListener("load", l, false); } 
                } 
            })();
        </script>
    </body>
</html>
